{% extends 'base_system.html' %}
{% load crispy_forms_tags %}
{% block title %}Создание отчёта{% endblock %}
{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'appeal/css/report_create.css' %}" type="text/css" />
{% endblock %}
{% block content %}
    <div class="col-create-report">
        <h2 class="text-center">Создать отчёт по задаче №{{ task_id }}</h2>
        <form class="form-create-report text-center" method="post">
            {% csrf_token %}
            {% for field in form %}
                <label class="form-label">{{ field.label }}:</label>
                {{ field|as_crispy_field }}
            {% endfor %}
            <br>
            <button class="btn btn-primary" type="submit">Подтвердить</button>
            <a href="{% url 'appeal:task_card' appeal_id task_id %}" class="btn btn-secondary" role="button">Назад</a>
        </form>
    </div>
{% endblock %}